:root {
  --primary-blue: #61dafb;
  --primary-pink: #f7aad0;
  --light-pink: #ffebf5;
  --dark-pink: #fc6fb6;
  --darker-pink: #db0589;
  --dark-blue: #2a3f54;
  --black: #000000;
  --white: #ffffff;
  --gray: #f5f5f7;
  --shadow: rgba(0, 0, 0, 0.1);
  --glow: rgba(255, 105, 180, 0.2);
  --overlay-color: rgba(255, 171, 237, 0.3);
  --overlay-blend-mode: multiply;
}

.login-page,
.signup-page,
.calendar-page,
.city-card-page,
.itinerary-page,
.trip-page,
.trip-shift-page {
  position: relative;
  z-index: 1;
}

.login-page::before,
.signup-page::before,
.calendar-page::before,
.city-card-page::before,
.itinerary-page::before,
.trip-page::before,
.trip-shift-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-color);
  mix-blend-mode: var(--overlay-blend-mode);
  backdrop-filter: blur(var(--backdrop-filter-blur));
  z-index: -1;
  pointer-events: none;
}

.login-page,
.signup-page,
.calendar-page, 
.city-card-page,
.itinerary-page,
.trip-page,
.trip-shift-page {
  background-attachment: fixed;
  background-size: 380px;
  background-position: center -50px;
  background-repeat: repeat;
  z-index: 0;
}